body {
	background-color: #f52010; 
font-family: 'Oswald', sans-serif;
}
body h1, h2, h3, h4 {
font-family: 'Oswald', sans-serif;
}

.product-page{
	font-family: 'Oswald', sans-serif;
	background-color:black;
	color: white;

}
.product-page aside img {
	padding-bottom: 1.5em;
}
.product-page h1 ,h2{
	color: white;
}
.product-grid {
	
}
.category-longsleeves {
	background-color: black;
	color: white;
}
.category-longsleeves h1 {
	color: white;
}
.category-tshirts {
	background-color: black;
	color: white;

}
.category-tshirts h1 {
	color: white;
}
.category-hoodies {
background-color: black;
color: white;
}
.category-hoodies h1 {
color:white;
}
.shop {
	background-color: black;
	color:white;

}
.shop h1 {
	color: white;
}
.cart {
	background-color: black;
	color:white;

}
.cart h1 {
	color: white;
}
.order {
	background-color: black;
	color:white;

}
.order h1 {
	color:white;
}
.breadcrumbs {
	background-color: #FFFF00;

}
.breadcrumbs li a {
	color: black;
}


.promo img {
	
padding-left: 15em;
padding-right: 15em;
padding-top: 4em;

}
.footer {
  list-style-type: none;
  
  position: bottom;


}

.footer li {
  display: inline-block;
  padding-left: 2em;
  padding-right: 2em;


}
.footer li a {
  color: #fff;
}
